<!--
<mat-toolbar>
    <mat-toolbar-row>
        <button mat-icon-button tdLayoutManageListOpen >
            <mat-icon>arrow_back</mat-icon>
        </button>
        <div td-toolbar-content layout="row" layout-align="start center" flex>
            <span>Todos los Usuarios</span>
            <span flex></span>
        </div>
    </mat-toolbar-row>
</mat-toolbar>
-->

<nav class="navbar navbar-expand-lg bg-default">
  <div class="container">
    <div class="navbar-translate">
      <a class="navbar-brand" href="#pablo">
        Navbar
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navigation"
        aria-controls="navigation-index" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-bar bar1"></span>
        <span class="navbar-toggler-bar bar2"></span>
        <span class="navbar-toggler-bar bar3"></span>
      </button>

    </div>

    <div class="collapse navbar-collapse" id="navigation">
      <ul class="navbar-nav">
        <li class="nav-item active">
          <a class="nav-link" href="#pablo">
            Home
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#pablo">Link</a>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled" href="#pablo">Disabled</a>
        </li>
      </ul>
    </div>
  </div>
</nav>


<div class="row">
  <div class="col-xl-12 col-lg-7">
    <div class="card shadow mb-4">
      <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
        <label for="" class="m-0 font-weight-bold text-primary">Criterio de Busqueda</label>
      </div>
      <div class="card-body">

        <table>
          <thead>
            <tr>
              <th>NOMBRE</th>
              <th>APELLIDO</th>
              <th>MAIL</th>
            </tr>
          </thead>
          <tbody>
            <tr class="text-center">
              <td><input id="NOMBRE" type="text" class="form-control"></td>
              <td><input id="APELLIDO" type="text" class="form-control"></td>
              <td>
                <div class="input-group">
                  <div class="input-group-prepend">
                    <div class="input-group-text">@</div>
                  </div>
                  <input type="text" placeholder="name@example.com" class="form-control">
                </div>
              </td>
              <td>
                <button class="btn btn-primary btn-sm">Buscar</button>
              </td>
            </tr>
          </tbody>
        </table>

      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-xl-12 col-lg-5">
    <div class="card shadow mb-4">
      <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
        <label for="">Recursos</label>
      </div>

      <!-- grilla-->
      <div class="card-body">
        <div class="table-responsive">
          <div class="form-group">
            <table class="table table-hover dataTable">
              <thead>
                <tr>
                  <th>ID</th>
                  <th>NOMBRE</th>
                  <th>APELLIDO</th>
                  <th>FECHA CREACION</th>
                  <th>FECHA ACTUALIZACION</th>
                  <th>EMAIL</th>
                  <th>ACCIONES</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let per of personas" class="text-center">
                  <td>{{per.id}}</td>
                  <td>{{per.nombre}}</td>
                  <td>{{per.apellido}}</td>
                  <td>{{per.createdAt | date: 'dd-MM-yyyy'}}</td>
                  <td>{{per.updateAt  | date: 'dd-MM-yyyy'}}</td>
                  <td>{{per.email}}</td>
                  <td>
                    <button class="btn btn-primary btn-sm" (click)="edit(content1, per.id, per)"><i
                        class="fa fa-edit"></i></button>
                    <button class="btn btn-danger btn-sm" style="margin-left: 10px"><i class="fa fa-trash"></i></button>
                  </td>
                </tr>
              </tbody>
            </table>

            <label ForeColor="Green"></label>
            <br />
            <label ForeColor="Red"></label>

            <div class="col-auto" style="text-align: right">
              <button class="btn btn-outline-primary" (click)="open(content)">Nuevo</button>

              <button class="btn btn-outline-primary" style="margin-left: 10px">Limpiar</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>





<!--  MODAL DE NUEVO REGISTRO -->
<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Agregar nuevo Registro</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form>
      <div class="container">
        <div class="row">

          <div class="container">
            <div class="card">
              <div class="card-body">
                <form>

                  <table>
                    <tr>
                      <th>Nombre:</th>
                      <th>Apellido:</th>
                    </tr>
                    <tr>
                      <td><input name="NOMBRE" type="text" class="form-control" width="100%" [(ngModel)]="per.nombre"></td>
                      <td><input name="APELLIDO" type="text" class="form-control" width="100%" [(ngModel)]="per.apellido"></td>
                    </tr>
            
                    <tr>
                      <th>Email:</th>
                      <th>Password:</th>
                    </tr>
                    <tr>
                      <td><input name="PASSWORD" type="text" class="form-control" width="100%" [(ngModel)]="per.email"></td>
                      <td><input name="EMAIL" type="password" class="form-control" width="100%" [(ngModel)]="per.password"></td>
                    </tr>

                    <tr>
                      <th>Cargo:</th>
                    </tr>
                    <tr>
                      <td><select class="form-control">
                        <option *ngFor="let persona of personas">{{persona.nombre}}</option>
                      </select></td>
                    </tr>

                  </table>

                  <button (click)="Guardar(per)" class="btn btn-danger">Guardar</button>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">Cerrar</button>
  </div>
</ng-template>


<!-- EDITAR -->
<ng-template #content1 let-modal>
  <div class="modal-header">
    <h4 class="modal-title">ACTUALIZAR RECURSO</h4>
    <button id="LinkButton1"><i class="fa fa-times"></i></button>
  </div>

  <!-- Modal body -->
  <div class="modal-body">
    <div class="container">

      <table>
        <tr>
          <th>Nombre:</th>
          <th>Apellido:</th>
        </tr>
        <tr>
          <td><input name="NOMBRE" type="text" class="form-control" width="100%" [(ngModel)]="per.nombre"></td>
          <td><input name="APELLIDO" type="text" class="form-control" width="100%" [(ngModel)]="per.apellido"></td>
        </tr>

        <tr>
          <th>Email:</th>
          <th>Password:</th>
        </tr>
        <tr>
          <td><input name="PASSWORD" type="text" class="form-control" width="100%" [(ngModel)]="per.email"></td>
          <td><input name="EMAIL" type="password" class="form-control" width="100%" [(ngModel)]="per.password"></td>
        </tr>
      </table>

    </div>
  </div>

  <label id="lblActualizaImgRecursoOK"></label>
  <br />
  <label id="lblActualizaImgRecursoNOK"></label>

  <!-- Modal footer -->
  <div class="modal-footer">
    <button id="btnACTactualizar" class="btn btn-primary">Actualizar</button>
    <button id="btnACTcerrar" class="btn btn-secondary" (click)="modal.close('Save click')">Cerrar</button>
  </div>
</ng-template>
<hr>

<pre>{{closeResult}}</pre>