.dataTable {
    width: 100% !important;
    border-collapse: initial !important;
    border-spacing: 0 !important;
    margin: 1rem 0 !important;
    padding: 1.5rem;
}

.bd-example {
    padding: 1.5rem;
    margin-right: 0;
    margin-left: 0;
    border-width: .2rem;}

    table {
        border-collapse: collapse;
        width: 100%;
      }
      th{
          font-size: 15px;
      }
      th, td {
        font-size: 14px;
        padding: 5px;
        text-align: left;
      }

      h3{
          font-size: 25px;
      }
