<!--
<div layout="column" layout-fill>
    <mat-toolbar color="primary" class="mat-whiteframe-z1">
      <mat-toolbar-row>
        <span>Login</span>
      </mat-toolbar-row>
    </mat-toolbar>
    <div class="mat-content" layout-padding flex>
      <div flex-gt-xs="50">
        <mat-card _ngcontent-ahs-c3 class="box mat-card">
          <mat-card-title><mat-icon class="mat-icon-logo" svgIcon="assets:covalent"></mat-icon> Login</mat-card-title>
              <mat-card-subtitle>sign in via your current corporate account</mat-card-subtitle>
              <mat-divider></mat-divider>
              <mat-card-content>
              <form #loginForm="ngForm">
                <div layout="row">
                  <mat-form-field flex>
                    <input matInput #userElement #userControl="ngModel" placeholder="Username" type="text" maxlength="30" name="username" [(ngModel)]="username" required>
                    <span matPrefix><mat-icon>person</mat-icon></span>
                    <mat-hint align="start">
                      <span [hidden]="!userControl.errors?.required || userControl.pristine" class="tc-red-600">Required</span>
                    </mat-hint>
                    <mat-hint align="end">{{userElement.value.length}} / 30</mat-hint>
                  </mat-form-field>
                </div>
                <div layout="row">
                  <mat-form-field flex> 
                    <input matInput #passElement #passControl="ngModel" placeholder="Password" type="password" name="password" [(ngModel)]="password" required>
                    <span matPrefix><mat-icon>lock</mat-icon></span>
                    <mat-hint align="start">
                      <span [hidden]="!passControl.errors?.required || passControl.pristine" class="tc-red-600">Required</span>
                    </mat-hint>
                    <mat-hint align="end">Something hard to guess</mat-hint>
                  </mat-form-field>
                </div>
              </form>
            </mat-card-content>
            <mat-divider></mat-divider>
              <mat-card-actions layout="row">
                <button flex mat-raised-button color="accent" [disabled]="!loginForm.form.valid" (click)="BTNlogin()">Sign In</button>
              </mat-card-actions>
        </mat-card>
      </div>
    </div>
    </div>-->

<div class="container">
  <div class="d-flex justify-content-center h-100">
    <div class="card">
      <div class="card-header">
        <h3>Iniciar Sesión</h3>
        <div class="d-flex justify-content-end social_icon">
          <span><i class="fa fa-facebook-square"></i></span>
          <span><i class="fa fa-google-plus-square"></i></span>
          <span><i class="fa fa-twitter-square"></i></span>
        </div>
      </div>
      <div class="card-body">
        <form>
          <div class="input-group form-group">
            <div class="input-group-prepend">
              <span class="input-group-text"><i class="fa fa-user"></i></span>
            </div>
            <input type="text" class="form-control" placeholder="Usuario">

          </div>
          <div class="input-group form-group">
            <div class="input-group-prepend">
              <span class="input-group-text"><i class="fa fa-key"></i></span>
            </div>
            <input type="password" class="form-control" placeholder="password">
          </div>
          <div class="row align-items-center remember">
            <input type="checkbox">Recordarme
          </div>
          <div class="form-group">
            <button (click)="Listar()" class="btn float-right login_btn">Login</button>
          </div>
        </form>
      </div>
      <div class="card-footer">
				<div class="d-flex justify-content-center links">
					<a href="#">Registrarse</a>
				</div>
				<div class="d-flex justify-content-center">
					<a href="#">Recuperar Password</a>
				</div>
      </div>
      <!--
        <button (click)="Login()" class="btn btn-primary btn-sm">Primary</button>
        <button (click)="Listar()" class="btn btn-primary btn-sm" style="margin-left: 10px">Listar</button>
        <button (click)="Nuevo()" class="btn btn-primary btn-sm" style="margin-left: 10px">Nuevo</button>
-->

    </div>
  </div>
</div>