<div class="container col-md-6">
    <div class="card">
        <div class="card-header">
            <h3>Agregar Personas</h3>
        </div>
        <div class="card-body">
            <form action="">
                <div class="form-group">
                    <label for="">Nombres:</label>
                    <input type="text" class="form-control">
                </div>
                <div class="form-group">
                    <label for="">Apellidos:</label>
                    <input type="text" class="form-control">
                </div>
                <div class="form-group">
                    <label for="">Email:</label>
                    <input type="text" class="form-control">
                </div>
                <div class="form-group">
                    <label for="">Fecha Creación:</label>
                    <input type="text" class="form-control">
                </div>
                <div class="form-group">
                    <label for="">Fecha Actualización:</label>
                    <input type="text" class="form-control">
                </div>
                <div class="form-group">
                    <label for="">Password:</label>
                    <input type="text" class="form-control">
                </div>
                <button (click)="Guardar()" class="btn btn-danger">Guardar</button>
            </form>
        </div>
    </div>
</div>